<!DOCTYPE html>
<html>
<head>
  <title>Shouter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <% # passing the :search symbol instead of @search instance variable is better in this scenario because it does not complain that on some views the instance variable is not set, on the pages that we do have the @search variable the :search symbol will map to that %>
    <%= form_for(:search, url: search_path, method: :get) do |form| %>
        <%= form.text_field :term %>
        <%= form.submit 'Search' %>
    <% end %>

    <div>
        <% if signed_in? %>
            <%= link_to current_user.username, dashboard_path %>
            <%= link_to 'Sign out', session_path, method: :delete %>
        <% else %>
            <%= link_to 'Sign in', new_session_path %>
            <%= link_to 'Sign up', new_user_path %>
        <% end %>
    </div>

    <% if alert %>
        <p> <%= alert %> </p>
    <% end %>
    <% if notice %>
        <p> <%= notice %> </p>
    <% end %>

    <%= yield %>

</body>
</html>
